<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PhasebookWSs</display-name>
  <servlet>
  	<servlet-name>clientWS</servlet-name>
  	<servlet-class>example.clientWS</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>clientWS</servlet-name>
  	<url-pattern>/clientWS</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>betWS</servlet-name>
  	<servlet-class>example.betWS</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>betWS</servlet-name>
  	<url-pattern>/betWS</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>messageWS</servlet-name>
  	<servlet-class>example.messageWS</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>messageWS</servlet-name>
  	<url-pattern>/messageWS</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>relationWS</servlet-name>
  	<servlet-class>example.relationWS</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>relationWS</servlet-name>
  	<url-pattern>/relationWS</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>photoWS</servlet-name>
  	<servlet-class>example.photoWS</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>photoWS</servlet-name>
  	<url-pattern>/photoWS</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>